@import "bulma";
@import './bulma-extensions';
@import 'toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*, :after, :before {
  box-sizing: inherit;
}

/*---------- Colors-------------*/

$fuschia: hsl(171, 100%, 41%);
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 40%);
$blue: hsl(215, 91% ,42%);
$is-success: #00b478;
$darkslategray: #21253f;


/*---------- END Colors-------------*/
@font-face {
  font-family: CharlieDisplay;
  src:url(asset-path('fonts/CharlieDisplay-Regular.ttf'));
  font-weight: normal;
  font-style: normal;
}

html body {
  font-family: "Charlie Display", serif;
}
h1, h2, h3, p, label, a, li, span, strong,  {
  color: $darkslategray;
}

//-------------------- navbar style -------------------------//
a.navbar-item{
  color: $grey;
  &:hover {
    color: $grey-dark ;
  }
}
.logo-brand a.navbar-item:hover {
  color: rgba(246, 36, 36, 0.82);
}
.navbar-item img {
  max-height: 2.2rem !important;

}
.login-signin-button {
  height: 2.5vh;
  padding-left: 2rem;
  padding-right: 2rem;
}

.body-section {
  background-color: #f4f5f7;
}



.navbar-item img {
  max-height: 2.2rem !important;

}

.logo-brand a{

  font-weight: 600;
  color: rgba(246, 36, 36, 0.82);
  font-family: 'Pacifico', cursive;

}

.logo-brand {
  font-size: 1.5rem;
  border-radius: 50% 50% 50% 50% ;
  padding-top: 2px;
}

.navbar-start a, .navbar-end a {
 /* color: #125acd; */
  font-weight: 500;
}
.navbar {
  box-shadow: 0 0.1em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

div .stroke a,
div .stroke a:after,
div .stroke a:before {
  transition: all 0.5s;
}
div .stroke a:hover {
  //color: #0065FF;
}


/* stroke */
div.stroke a {
  position: relative;

}
div.stroke  a:after {

  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  content: '.';
  color: transparent;
  background: tomato;
  height: 2px;
}

div.stroke  a:hover:after {
  width: 100%;
}

.has-dropdown a:after {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  content: '.';
  color: transparent;
 // background: $blue;
  height: 2px;
}
.has-dropdown a:hover:after {
  width: 100%;
}

.has-dropdown a,
.has-dropdown a:after,
.has-dropdown a:before {
  transition: all 0.5s;

}
.navbar-link {
  background-color: transparent !important;
}
//-------------------- END navbar style -------------------------//
.inactiveLink {
  pointer-events: none;
  cursor: default;
}


//-------------------- hr style -------------------------//
  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;

      padding: 0 .5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #818078;
      background-color: #fcfcfa;
    }
  }
//-------------------- END hr style -------------------------//