//-----------------  login-header style ------------------//
.login-header {
  justify-content: center;
}

.google-login-image {

}
.password-forgot {
  display: flex;
  justify-content: center;
  font-size: small;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}