//-----------------  login-header style ------------------//
.login-header {
  justify-content: center;
}
.password-forgot {
  display: flex;
  justify-content: center;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}